.main {
  background-color: #eba03d;
  position: relative;
  color: white;
  padding-bottom: 60px;

  &__title {
    min-height: 400px;
    margin: 0;
    padding: 0;
    background-color: #CD853F;
    background-image: url('../../img/main_title.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 120px;
    font-size: 9vw;
    letter-spacing: 1.5vw;
    color: #D5713F;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
  }

  &__slide {

    img {
      height: 600px;
      width: auto;
    }
  }

  h2 {
    font-size: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  h3 {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;

  }

  ul {
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }

  li {
    flex-basis: 31%;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__button-menu {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: white;
    padding: 13px 20px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;

    &:hover, &:focus {
      background-color: white;
      color:#eba03d;
    }
  }
}

.snowflake {
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: var(--left);
  animation: snowfall var(--speed) linear infinite;
  animation-delay: var(--delay);
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 390px, 0);
  }
}
@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw; /* random initial translation */
    --left-end: #{random(20) - 10}vw; /* random final translation */
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}